<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Blueprint Demo 1
        </title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>This is Main Page!</h1>
        <p>This application includes three different features:</p>
        <ul>
            <li><a href="{{ url_for('app1.home') }}">Feature 1</a></li>
            <li><a href="{{ url_for('app2.home') }}">Feature 2</a></li>
            <li><a href="{{ url_for('app3.home') }}">Feature 3</a></li>
        </ul>
    </body>
</html>
